.profile-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 50px;
}

.header h1 {
  color: #2c3e50;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filter label {
  font-weight: bold;
}

.add-button {
  background: #3498db;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-form input,
.profile-form select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.profiles ul {
  list-style: none;
  padding: 0;
}

.profiles li {
  background: white;
  padding: 8px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.delete-button {
  background: #e74c3c;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.header h1{
  color: #f8f9fa;
}