.routine-container {
  padding: 20px;
}

.header {
  background-color: #666;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ddd;
  text-align: center;
  margin-top: 750px;
}
.header h1{
  color: #ddd;
}
.header p{
font-size: 18px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #666;
  color: white;
}

.routine-box {
  background-color: #2B4257;
  color: white;
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  
}

.routine-box:hover {
  background-color: #666;
}

.routine-box p{
  font-size:5px;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  max-width: 500px;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.close:hover {
  color: #aaa;
}